<!doctype>
<html>
  <head>
    <title>VATS.io</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      body {
        font-family: Helvetica, sans-serif;
        padding: 20px;
        text-align: center;
      }
      ul {
        list-style: none;
      }
      a {
        color: #666699;
      }
      #content {
        left: 0;
        position: absolute;
        right: 0;
        top: 40%;
      }
      #credits {
        bottom: 20px;
        font-size: 10px;
        left: 0;
        position: absolute;
        right: 0;
      }
    </style>
  </head>
  <body>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-24709200-8', 'auto');
      ga('send', 'pageview');
    </script>
    <div id="content">
      <h1>VATS.io</h1>

      <div id="endpoints">
        <ul>
          <li><a href="/rates.json">All rates</a></li>
          <li><a href="/names.json">All names and abbrevations</a></li>
        </ul>
      </div>
    </div>

    <div id="credits">
      Flame-grilled by
      <a href="http://www.dreimannzelt.de">Dreimannzelt</a>
    </div>
  </body>
</html>
